In [2]:
import pandas as pd
import numpy as np

In [3]:
movie=pd.read_csv("C:\\Users\\chait\\OneDrive\\Desktop\\recommender\\archive (3)\\movie.csv")
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating_movie=pd.read_csv("C:\\Users\\chait\\OneDrive\\Desktop\\recommender\\archive (3)\\rating.csv")
rating_movie.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

**Popularity Based Recommender**

In [5]:
ratings_with_name = rating_movie.merge(movie,on='movieId')

In [5]:
num_rating_df = ratings_with_name.groupby('title').count()['rating'].reset_index()
num_rating_df.rename(columns={'rating':'num_ratings'},inplace=True)
num_rating_df

                                                   title  num_ratings
0      #chicagoGirl: The Social Network Takes on a Di...            3
1                                     $ (Dollars) (1971)           24
2                                        $5 a Day (2008)           39
3                                           $9.99 (2008)           55
4                         $ellebrity (Sellebrity) (2012)            2
...                                                  ...          ...
26724                            À propos de Nice (1930)            4
26725                                 Árido Movie (2005)            1
26726               Åsa-Nisse - Wälkom to Knohult (2011)            2
26727                                  Üvegtigris (2001)            1
26728                                        貞子3D (2012)            1

[26729 rows x 2 columns]

In [6]:
ratings_with_name.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
title        0
genres       0
dtype: int64

In [7]:
ratings_with_name=ratings_with_name[['userId','movieId','rating','title']]

In [8]:
avg_rating_df = ratings_with_name.groupby('title').mean()['rating'].reset_index()
avg_rating_df.rename(columns={'rating':'avg_rating'},inplace=True)
avg_rating_df

                                                   title  avg_rating
0      #chicagoGirl: The Social Network Takes on a Di...    3.666667
1                                     $ (Dollars) (1971)    2.833333
2                                        $5 a Day (2008)    2.871795
3                                           $9.99 (2008)    3.009091
4                         $ellebrity (Sellebrity) (2012)    2.000000
...                                                  ...         ...
26724                            À propos de Nice (1930)    3.125000
26725                                 Árido Movie (2005)    2.000000
26726               Åsa-Nisse - Wälkom to Knohult (2011)    1.500000
26727                                  Üvegtigris (2001)    3.000000
26728                                        貞子3D (2012)    1.500000

[26729 rows x 2 columns]

In [9]:
popular_df = num_rating_df.merge(avg_rating_df,on='title')
popular_df

,title,num_ratings,avg_rating
0,#chicagoGirl: The Social Network Takes on a Di...,3,3.666667
1,$ (Dollars) (1971),24,2.833333
2,$5 a Day (2008),39,2.871795
3,$9.99 (2008),55,3.009091
4,$ellebrity (Sellebrity) (2012),2,2.000000
...,...,...,...
26724,À propos de Nice (1930),4,3.125000
26725,Árido Movie (2005),1,2.000000
26726,Åsa-Nisse - Wälkom to Knohult (2011),2,1.500000
26727,Üvegtigris (2001),1,3.000000
26728,貞子3D (2012),1,1.500000

In [10]:
popular_df = popular_df[popular_df['num_ratings']>=10000].sort_values('avg_rating',ascending=False).head(50)

In [11]:
popular_df = popular_df.merge(movie,on='title').drop_duplicates('title')[['title','num_ratings','avg_rating']]

In [12]:
popular_df

                                                title  num_ratings  avg_rating
0                    Shawshank Redemption, The (1994)        63366    4.446990
1                               Godfather, The (1972)        41355    4.364732
2                          Usual Suspects, The (1995)        47006    4.334372
3                             Schindler's List (1993)        50054    4.310175
4                      Godfather: Part II, The (1974)        27398    4.275641
5         Seven Samurai (Shichinin no samurai) (1954)        11611    4.274180
6                                  Rear Window (1954)        17449    4.271334
7                                   Casablanca (1942)        24349    4.258327
8              One Flew Over the Cuckoo's Nest (1975)        29932    4.248079
9   Dr. Strangelove or: How I Learned to Stop Worr...        23220    4.247287
10                City of God (Cidade de Deus) (2002)        12937    4.235410
11                          North by Northwest (1959)        15627    4.233538
12                                  Fight Club (1999)        40106    4.227123
13                                12 Angry Men (1957)        12934    4.224138
14                            Dark Knight, The (2008)        20438    4.220129
15  Raiders of the Lost Ark (Indiana Jones and the...        43295    4.219009
16  Spirited Away (Sen to Chihiro no kamikakushi) ...        13466    4.203810
17                                   Chinatown (1974)        15310    4.199673
18  Amelie (Fabuleux destin d'Amélie Poulain, Le) ...        24349    4.197072
19          Star Wars: Episode IV - A New Hope (1977)        54502    4.190672
20                       To Kill a Mockingbird (1962)        14769    4.188943
21  Star Wars: Episode V - The Empire Strikes Back...        45313    4.188202
22                         Maltese Falcon, The (1941)        12144    4.187212
23                                 Matrix, The (1999)        51334    4.187186
24                                  Goodfellas (1990)        26406    4.183633
25        Wallace & Gromit: The Wrong Trousers (1993)        15022    4.181068
26                                     Memento (2000)        30443    4.178547
27                   Silence of the Lambs, The (1991)        63299    4.177057
28                         Princess Bride, The (1987)        32586    4.176732
29         Life Is Beautiful (La Vita è bella) (1997)        18156    4.175837
30                                Pulp Fiction (1994)        67310    4.174231
31             Monty Python and the Holy Grail (1975)        33024    4.174146
32                                  Sting, The (1973)        14926    4.173556
33             Wallace & Gromit: A Close Shave (1995)        12073    4.167315
34                          Lawrence of Arabia (1962)        12378    4.162102
35                                   Inception (2010)        14023    4.156172
36                             American Beauty (1999)        44987    4.155934
37                          American History X (1998)        23309    4.151208
38                                     Vertigo (1958)        14094    4.148006
39  Lord of the Rings: The Return of the King, The...        31577    4.142382
40                       Boot, Das (Boat, The) (1981)        13612    4.139730
41  Lord of the Rings: The Fellowship of the Ring,...        37553    4.137925
42                           Great Escape, The (1963)        10904    4.137656
43                                Blade Runner (1982)        30526    4.133706
44                                Citizen Kane (1941)        17774    4.130443
45  Good, the Bad and the Ugly, The (Buono, il bru...        14496    4.123241
46                                       Fargo (1996)        43272    4.112359
47                                 Taxi Driver (1976)        24481    4.110576
48               Bridge on the River Kwai, The (1957)        12576    4.110051
49                               Departed, The (2006)        14309    4.109931

In [13]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [6]:
import ast

In [7]:
movie.dropna(inplace=True)
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
movie['genres'] = movie['genres'].apply(lambda x: x.split('|'))

In [9]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [10]:
movie.tail(10)

,movieId,title,genres
27268,131241,Ants in the Pants (2000),"[Comedy, Romance]"
27269,131243,Werner - Gekotzt wird später (2003),"[Animation, Comedy]"
27270,131248,Brother Bear 2 (2006),"[Adventure, Animation, Children, Comedy, Fantasy]"
27271,131250,No More School (2000),[Comedy]
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,"[Comedy, Horror]"
27273,131254,Kein Bund für's Leben (2007),[Comedy]
27274,131256,"Feuer, Eis & Dosenbier (2002)",[Comedy]
27275,131258,The Pirates (2014),[Adventure]
27276,131260,Rentun Ruusu (2001),[(no genres listed)]
27277,131262,Innocence (2014),"[Adventure, Fantasy, Horror]"

In [11]:
content_movie=movie[['movieId','title','genres']]
content_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [13]:
content_movie['genres'] = content_movie['genres'].apply(lambda x: " ".join(x))
content_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
vector = cv.fit_transform(content_movie['genres']).toarray()

In [15]:
vector.shape

(27278, 23)

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
similarity = cosine_similarity(vector)

In [18]:
similarity

array([[1.        , 0.77459667, 0.31622777, ..., 0.4472136 , 0.        ,
        0.51639778],
       [0.77459667, 1.        , 0.        , ..., 0.57735027, 0.        ,
        0.66666667],
       [0.31622777, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.4472136 , 0.57735027, 0.        , ..., 1.        , 0.        ,
        0.57735027],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.51639778, 0.66666667, 0.        , ..., 0.57735027, 0.        ,
        1.        ]])

In [27]:
# def recommend(movie):
#     # Check if the movie exists in the DataFrame
#     if movie not in content_movie['title'].values:
#         print(f"Movie '{movie}' not found in the dataset.")
#         return

#     # Get the index of the movie
#     index = content_movie[content_movie['title'] == movie].index[0]

#     # Compute the distances
#     distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

#     # Print the top 5 recommended movies
#     for i in distances[1:10]:
#         print(content_movie.iloc[i[0]].title)
#         print(distances)

In [19]:
recommendations=[]
def recommend_content(movie):
    # Check if the movie exists in the DataFrame


    if movie not in content_movie['title'].values:
        print(f"Movie '{movie}' not found in the dataset.")
        return

    # Get the index of the movie
    index = content_movie[content_movie['title'] == movie].index[0]

    # Compute the distances
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

    # Get the top 5 recommended movies and save them to the list
    for i in distances[1:6]:
        recommendations.append(content_movie.iloc[i[0]].title)
        print(content_movie.iloc[i[0]].title)

# # Call the recommend function with a movie title
# recommend('Toy Story (1995)')

# # Print the first five recommendations
# print(recommendations[:5])

In [20]:
recommend_content('Toy Story (1995)')

Antz (1998)
Toy Story 2 (1999)
Adventures of Rocky and Bullwinkle, The (2000)
Emperor's New Groove, The (2000)
Monsters, Inc. (2001)

In [28]:
pickle.dump(content_movie,open('movie_list.pkl','wb'))

In [29]:
pickle.dump(similarity,open('similarity_content.pkl','wb'))

In [3]:
movie=pd.read_csv("C:\\Users\\chait\\OneDrive\\Desktop\\recommender\\archive (3)\\movie.csv")
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df = movie.merge(rating_movie, how="left", on="movieId")

In [5]:
comment_counts = pd.DataFrame(df["title"].value_counts())
comment_counts.head(20)

                                                    count
title
Pulp Fiction (1994)                                 67310
Forrest Gump (1994)                                 66172
Shawshank Redemption, The (1994)                    63366
Silence of the Lambs, The (1991)                    63299
Jurassic Park (1993)                                59715
Star Wars: Episode IV - A New Hope (1977)           54502
Braveheart (1995)                                   53769
Terminator 2: Judgment Day (1991)                   52244
Matrix, The (1999)                                  51334
Schindler's List (1993)                             50054
Toy Story (1995)                                    49695
Fugitive, The (1993)                                49581
Apollo 13 (1995)                                    47777
Independence Day (a.k.a. ID4) (1996)                47048
Usual Suspects, The (1995)                          47006
Star Wars: Episode VI - Return of the Jedi (1983)   46839
Batman (1989)                                       46054
Star Wars: Episode V - The Empire Strikes Back ...  45313
American Beauty (1999)                              44987
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)           44980

In [6]:
rare_movies = comment_counts[comment_counts["count"] <= 1000].index
rare_movies

Index(['Bear, The (Ours, L') (1988)', 'Rosewood (1997)', 'Ted (2012)',
       'One Night at McCool's (2001)', 'Marked for Death (1990)',
       'Three to Tango (1999)', 'Adam's Rib (1949)',
       'I Now Pronounce You Chuck and Larry (2007)',
       'Italian for Beginners (Italiensk for begyndere) (2000)',
       'Husbands and Wives (1992)',
       ...
       'Satan's Sword (Daibosatsu tôge) (1960)',
       'Blind Massage (Tui na) (2014)', 'Prêt à tout (2014)',
       'Ditchdigger's Daughters, The (1997)', 'A.K. (1985)',
       'Rapture (Arrebato) (1980)',
       'Education of Mohammad Hussein, The (2013)', 'Satanas (2007)',
       'Psychosis (2010)', 'Innocence (2014)'],
      dtype='object', name='title', length=24103)

In [7]:
common_movies = df[~df["title"].isin(rare_movies)]
common_movies["title"].nunique()
df["title"].nunique()

27262

In [8]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
user_movie_df.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
user_movie_df.fillna(0,inplace=True)

In [10]:
user_movie_df.shape
user_movie_df.columns

Index([''burbs, The (1989)', '(500) Days of Summer (2009)',
       '*batteries not included (1987)', '...And Justice for All (1979)',
       '10 Things I Hate About You (1999)', '10,000 BC (2008)',
       '101 Dalmatians (1996)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       '102 Dalmatians (2000)', '12 Angry Men (1957)',
       ...
       'Zero Dark Thirty (2012)', 'Zero Effect (1998)', 'Zodiac (2007)',
       'Zombieland (2009)', 'Zoolander (2001)', 'Zulu (1964)', '[REC] (2007)',
       'eXistenZ (1999)', 'xXx (2002)', '¡Three Amigos! (1986)'],
      dtype='object', name='title', length=3159)

In [16]:
# from sklearn.metrics.pairwise import cosine_similarity
# similarity_scores = cosine_similarity(user_movie_df)
# similarity_scores

array([[1.        , 0.07759043, 0.23722653, ..., 0.10806173, 0.10334716,
        0.2734346 ],
       [0.07759043, 1.        , 0.08800762, ..., 0.08579027, 0.10117534,
        0.06764228],
       [0.23722653, 0.08800762, 1.        , ..., 0.09108669, 0.10431067,
        0.12139547],
       ...,
       [0.10806173, 0.08579027, 0.09108669, ..., 1.        , 0.17058893,
        0.13328352],
       [0.10334716, 0.10117534, 0.10431067, ..., 0.17058893, 1.        ,
        0.15432832],
       [0.2734346 , 0.06764228, 0.12139547, ..., 0.13328352, 0.15432832,
        1.        ]])

In [15]:
# correlation_matrix = user_movie_df.corr()
# correlation_matrix.head()

MemoryError: Unable to allocate 143. GiB for an array with shape (138493, 138493) and data type float64

In [12]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(10,8))
# sns.heatmap(similarity_scores, cmap='coolwarm', annot=True)
# plt.title("Movie Similarity Matrix")
# plt.show()

In [26]:
# def recommend_cf(movie_name):
#     # index fetch
#     index = np.where(user_movie_df.index == movie_name)
#     print("Index:", index)  # Check if index is correct
#     similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x: x[1], reverse=True)[1:5]
#     print("Similar items:", similar_items)  # Check similar items
    
#     data = []
#     for i in similar_items:
#         item = []
#         temp_df = movie[movie['title'] == user_movie_df.index[i]]
#         print("Temp DF for item", i, ":", temp_df)  # Check temp_df

In [11]:
movie_name = pd.Series(user_movie_df.columns).sample(1).values[0]
movie_name = user_movie_df[movie_name]

In [12]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(10)

title
Secrets & Lies (1996)          1.000000
Big Night (1996)               0.368781
Lone Star (1996)               0.352905
Breaking the Waves (1996)      0.322443
Sweet Hereafter, The (1997)    0.317461
Shine (1996)                   0.296841
English Patient, The (1996)    0.288412
Crying Game, The (1992)        0.282802
Ice Storm, The (1997)          0.277045
Player, The (1992)             0.274416
dtype: float64

In [13]:
def check_film(keyword, user_movie_df):

    result = [col for col in user_movie_df.columns if keyword in col]
    print(result)

In [14]:
check_film("Toy Story", user_movie_df)

['Toy Story (1995)', 'Toy Story 2 (1999)', 'Toy Story 3 (2010)']

In [ ]:
from collections import defaultdict

def top_three_frequent_words(lists_of_words):
    # Dictionary to store word counts
    word_count = defaultdict(int)

    # Iterate over each list in the lists_of_words
    for word_list in lists_of_words:
        # Iterate over each word in the current word list
        for word in word_list:
            word_count[word] += 1

    # Sort the words by their counts in descending order and select the top three
    top_three_words = sorted(word_count, key=word_count.get, reverse=True)[:3]

    return top_three_words

# Example usage:
lists_of_words = [
    recommendations,
    output_list
]
print(top_three_frequent_words(lists_of_words))

In [ ]:
import json

# Convert the list to a JSON object
json_output = json.dumps(top_three_frequent_words(lists_of_words))

# Print the JSON output
print(json_output)

In [15]:
import pickle

In [16]:
pickle.dump(user_movie_df,open('user_movie.pkl','wb'))

In [44]:
pickle.dump(movie,open('movie.pkl','wb'))